<!DOCTYPE html>
<html>
<head>
    <title>FAQ Site</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'post_list' %}">Home</a></li>
            {% if user.is_authenticated %}
                <h2>Welcome {{user}}</h2>
                <li><a href="{% url 'ask_question' %}">Ask a Question</a></li>
                <li>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'signin' %}">Sign In</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
