{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>FAQ Site</title>
    <link rel="stylesheet" href="{% static 'faq/css/style.css' %}" />
    <script src="{% static 'faq/js/app.js' %}"></script> 
  </head>
  <body>
    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-item" id="head">
          <a href="{% url 'post_list' %}" class="nav-link">Home</a>
        </li>
        {% if user.is_authenticated %}
        {% if user.is_staff %}
            <li class="nav-item" id="head"><a href="{% url 'admin:index' %}" class="nav-link">Admin</a></li>
        {% endif %}
        <h2 class="welcome-message">Welcome {{user}}</h2>
        <li class="nav-item">
          <form method="post" action="{% url 'logout' %}" class="logout-form">
            {% csrf_token %}
            <button type="submit" class="nav-button">Logout</button>
          </form>
        </li>
        {% else %}
        <li class="nav-item" id="head">
          <a href="{% url 'signup' %}" class="nav-link">Sign Up</a>
        </li>
        <li class="nav-item" id="head">
          <a href="{% url 'signin' %}" class="nav-link">Sign In</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
