<!-- myapp/templates/myapp/category_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts in {{ category.name }}</title>
</head>
<body>
    <h1>Posts in {{ category.name }}</h1>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'post_detail' post.publish.year post.publish.month post.publish.day post.slug %}">{{ post.title }}</a>
                <p>Published on {{ post.publish }}</p>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'post_list' %}">Back to Home</a>
</body>
</html>
