{% extends "faq/base.html" %} {% block content %}
<div class="whole">
  <div class="ask_answer">
    <div class="over_ask">
      <div class="ask">
        <p class="category">Category: {{ post.category.name }}</p>
        <h2>{{ post.title }}</h2>
        <p>{{ post.question }}</p>

        <i class="information">
          Asked by {{ post.username }} on {{ post.publish }}
        </i>
      </div>
    </div>
    <div class="over_answer">
      <div class="answer">
        <p class="answer_by_ad">Answer by Admin</p>
        <p>{{ post.body|linebreaks }}</p>
      </div>
    </div>
  </div>

  <div class="comment">
    <h2>Comments</h2>
    {% for comment in comments %}
    <div class="comment-item">
      <p><strong>{{ comment.user }}</strong> said:</p>
      <p>{{ comment.body|linebreaks }}</p>
    </div>
    {% endfor %} {% if user == post.author or user.is_staff %}
    <form method="post">
      {% csrf_token %}
      <textarea
        placeholder="Leave a comment"
        name="body"
        cols="40"
        rows="10"
        required=""
        id="id_body"
        style="
          min-width: 1230px;
          height: 63px;
          resize: none;
          font-size: 15px;
          border-radius: 10px;
          border: 1px solid #111111;
        "
      ></textarea>
      <button type="submit" style="display: block">Add Comment</button>
    </form>
    {% endif %}
  </div>

  <a href="{% url 'post_list' %}">Back to Questions</a>
  {% endblock %}
</div>
